.pic{
    display: inline-block;
    margin: 5px;
    width: 47px;
    height: 55px;
    background-size: cover;
    cursor: pointer;
    background-color: #B596BC;
}

.pic:hover{
    box-shadow: 0 0 0 3px #4EAD72;
}