{% extends '::base.html.twig' %}

{% block body %}
    <input id="search" class="form-control" placeholder="Nom, Prénom ou code cantine" style="margin-bottom: 15px">
    <div id="desc">
        <p>Tapez votre <b>Nom</b> et/ou <b>Prénom</b> pour mettre à jour votre photo et votre citation.
            Vous pouvez aussi utiliser votre <b>code cantine</b> affiché sur votre carte étudiante en bas à droite (code à 7 chiffres).</p>
    </div>
{% endblock %}